@import "base"
@import "compass"
@import "blueprint"
@include blueprint-typography

body
  background: $body_bg_color url(/images/body_bg.png)
  height: 100%
  margin: 0
  padding: 0

h1
  margin-bottom: 1em
  text-align: center
  a
    @include hover-link
    @include link-colors($title_color, $title_color, $title_color, $title_color)
    @include text-shadow(rgba(0,0,0, .8), 0, 1px, 2px)

#wrapper
  @include container
  @include box-shadow(#000, 0, 0, 30px)
  background: #fff url(/images/main_bg.png) 0 0
  border: 1px solid $main_border_color

#locales
  background: $locales_bg_color
  @include linear-gradient(color-stops(mix(#fff, $locales_bg_color, 50), $locales_bg_color))
  border-bottom: 1px solid $main_border_color
  border-top: 1px solid #dcdcdc
  float: left
  padding: .75em 0
  width: 100%

.locale.current
  @include column(8)
  @include prepend(4)

.locale.target
  @include column(12, true)

#categories, #features
  ul
    list-style: none
    margin-bottom: 0

#categories
  @include column(4)
  @include scrollable_pane
  ul
    margin: 0
    padding: 0
  a
    @include link-colors($categories_link_color)
    display: block
    padding: .5em 1em .5em 0
    text-align: right
    text-decoration: none
    &:hover
      background: $categories_hover_bg_color
      color: $categories_hover_color
  .current
    background: $categories_current_bg_color
    @include linear-gradient(color-stops(mix(#fff, $categories_current_bg_color, 40), $categories_current_bg_color))
    @include text-shadow(#000, 0, 1px)
    color: $categories_current_color
    font-weight: bold

#features
  @include column(8)
  @include scrollable_pane
  li
    padding: .5em 0

#preview
  @include column(12, true)
  @include scrollable_pane
  .category
    float: left
    padding: 0 1.5em
  ul
    
  li
    float: left
    margin: 0 1em
    padding: .25em 0

#save
  @include linear-gradient(color-stops(mix(#fff, $locales_bg_color, 50), $locales_bg_color))
  border-top: 1px solid $main_border_color
  float: left
  padding: .75em 0
  width: 100%

#footer
  @include container
  padding:  1.5em 0
  ul
    @include horizontal-list(1em)
  li
    border-right: 1px solid $footer_color
    color: $footer_color
    &:last-child
      border: none
  a
    @include hover-link
    @include link-colors($footer_link_color)
  .github
    position: absolute
    top: 0
    right: 0
    border: 0
    background: url(https://d3nwyuy0nl342s.cloudfront.net/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67) 0 0 no-repeat
    height: 149px
    width: 149px
    text-indent: -99999px